.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

.rght
{
    
    position: absolute;
    right: 130px;
    top: 100px;
    border-radius: 30px;
    
}

.delete
{
    position: absolute;
    right: 130px;
    top: 180px;
    border-radius: 30px;
}